.profile {
  display: block;
  width: 250px;
  height: auto;

  margin: 20px auto;

  padding: 10px;

  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.avatar {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  background-color: rgba(81, 255, 0, 0.151);
}